mixin like-button(options)

  if(!options)
    - options = {}
  if(!options.count)
    - options.count = 0
  -
    let count = "count-like"

  button(class="like-button js-like-button")= options.count