// подключение fontawesome из npm модуля
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/css/all.css';

// подключение material-icons из npm модуля
$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';

@import 'reset.scss';
@import 'fonts.scss';
@import 'vars.scss';
@import 'mixin.scss';
// импорт файлов проекта
@import '../blocks/blocks';

// импорт блоков-обёрток для страниц
@import '../pages/UI-pages/colors-and-types/colors-and-types.scss';
@import '../pages/UI-pages/form-elements/form-elements.scss';
@import '../pages/UI-pages/cards/cards.scss';
@import '../pages/UI-pages/headers-and-footers/headers-and-footers.scss';

@import '../pages/website-pages/registration/registration.scss';
@import '../pages/website-pages/search-room/search-room.scss';
@import '../pages/website-pages/sign-in/sign-in.scss';
@import '../pages/website-pages/landing-page/landing-page.scss';
@import '../pages/website-pages/room-details/room-details.scss';
// импорт стилей для шаблона
@import '../layouts/UI-layout/page-layout.scss';
@import '../layouts/website-page-layout/website-page-layout.scss';

html {
  background-color: #fff;
  font-family: $main-font;
  color: $primary-darker;
  font-size: 14px;
}