// глобальный миксин для текста
@mixin text-view($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

// миксин для заголовка h3
@mixin h3-header() {
  font-family: $main-font;
  color: $primary-darker;
  font-size: $h3-text-size;
  text-transform: uppercase;
  font-weight: bold;
  line-height: $h3-line-height;
}

@mixin h2-header() {
  font-family: $secondary-font;
  color: $primary-darker;
  font-size: $h1-text-size;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: $h1-line-height;
}

// текст кнопок
@mixin button-text($color) {
  color: $color;
  font-family: $main-font;
  font-weight: bold;
  font-size: $h3-text-size;
  text-transform: uppercase;
}

// тень кнопок при focus
@mixin button-shadow($color) {
  box-shadow: 1px 1px 4px 1px $color;
}

// градиент кнопок
@mixin element-gradient($first-color, $second-color) {
  background-image: linear-gradient(180deg, $first-color, $second-color);
}
@mixin border-gradient($first-color, $first-color-transparent, $second-color, $second-color-transparent, $degree) {
  background-image: linear-gradient(white, white), linear-gradient($degree, $first-color $first-color-transparent, $second-color $second-color-transparent);
};

@mixin border-gradient-size($border-width) {
  border: $border-width solid transparent;
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

@mixin gradient-text($first-color, $first-color-transparent, $second-color, $second-color-transparent, $degree) {
  color: transparent;
  background: linear-gradient($degree, $first-color $first-color-transparent, $second-color $second-color-transparent);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

// Cards
@mixin card-block() {
  max-width: 380px;
  background-color: #fff;
  padding: 40px 30px 30px;
  box-shadow: 
  2px 0px 20px -5px $primary-light,
  // тень снизу
  0px 2px 20px -5px $primary-light,
  //  тень слева
  -2px 0px 20px -5px $primary-light,
  // тень сверху
  0px -2px 20px -5px $primary-light;
}