.preview-hotel-room {
  max-width: 270px;

  .slick-dotted.slick-slider {
    margin-bottom: 0px;
  }

  &__carousel {
    height: 150px;
    background-color: $primary-dark;
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;

    .slick-dots {
      bottom: 12px;
      padding-left: 74%;

      li {
        margin: 0 2px;
      }

      li, button {
        width: 8px;
        height: 8px;
      }

      li button {
        padding: 2px; 
        border: 1px solid #fff;
        border-radius: 50%;

        &:before {
          content: '';
          width: 0;
          height: 0;
        }
      }

      .slick-active button {
        background-color: #fff;
      }
    }

    .slick-prev {
      left: 10px;

      &:before {
        font-family: 'Material Icons';
        content: '\e5cb';
        font-size: $h1-text-size;
      }
    }

    .slick-next {
      right: 10px;

      &:before {
        font-family: 'Material Icons';
        content: '\e5cc';
        font-size: $h1-text-size;
      }
    }
  }

  &__image {
    background-color: #999;
  }

  &__details-container {
    padding: 15px 20px 20px;
    background: wheat;
  }

  &__rating-container {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
  }
}