mixin preview-hotel-room(options)
  if(!options)
    - options = {}
  if(!options.items)
    - options.items = []
  if(!options.countRating)
    - options.countRating = "0"

  div(class="preview-hotel-room")
    include ../room-details/room-details
    include ../rate-button/rate-button

    div(class="preview-hotel-room__carousel")
      for item in options.items
        img(class="preview-hotel-room__image" src=item.pathSrc alt=item.altAttr)
    div(class="preview-hotel-room__details-container")
      +room-details()
      div(class="preview-hotel-room__rating-container")
        +rate-button()
        p(class="preview-hotel-room__rating-text-container")
          span(class="preview-hotel-room__count-rating js-preview-hotel-room__count-rating")=options.countRating
          span(class="preview-hotel-room__span-rating js-preview-hotel-room__span-rating") Отзывов