.expandable-checkbox-list {
  max-width: 270px;
  background-color: $light-color;

  &__head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
  }

  &__header {
    padding-left: 4px;
    @include h3-header;
  }

  &__button {
    outline: none;
    border: none;
    background: transparent;
    color: $primary-main;
    cursor: pointer;
    font-size: 24px;
    padding: 0 8px;
    flex-basis: 40px;
    height: 100%;
    align-self: center;
    transition: transform .2s ease-in-out,
      text-shadow .2s ease-in-out,
      color .2s ease-in-out;
    transition-delay: .06s;

    &:focus {
      @include text-shadow(currentColor);
    }

    &_to-top {
      transform: rotate(-180deg);
    }
  }

  &__body {
    padding-top: 2px;
    padding-left: 5px;
    display: flex;
    flex-flow: column wrap;

    &_hidden {
      display: none;
    }
  }

  &:hover &__button {
    color: $primary-dark;
  }
}

.checkbox-button + .checkbox-button{
  padding-top: 10px;
}