.feedback {
  max-width: 720px;

  &__user {
    display: flex;
    margin-bottom: 10px;

    &-photo {
      width: 46px;
      height: 46px;
      border-radius: 23px;
      background-color: $light-color;
    }

    &-name {
      @include h4-header;
      text-transform: capitalize;
      line-height: $body-line-height;

      &-wrapper {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        padding-left: 10px;
        height: 100%;
        line-height: 24px;
      }
    }
  }

  &__date-comment {
    @include h4-header;
    line-height: $body-line-height;
  }

  &__mark {
    display: flex;

    & .like-button {
      flex: 0 1 40px;
    }
  }

  &__comment {
    padding-left: calc(1rem + 2px);
    @include h4-header;
    line-height: $body-line-height;
  }
}