mixin feedback(options)
  if(!options)
    - options = {}
  if(!options.comment)
    - options.comment = "Lorem ipsum dolor ... there is must be user comment"
  if(!options.userName)
    - options.userName = "Ivan Pupkin"

  -
    let userPhoto = "user photo"
    let userName = "user name"
    let comment = "user comment"
    let date = "date comment"
    let like = "like count"

  .feedback
    .feedback__user
      img(class="feedback__user-photo", src=options.userPhoto, alt="user photo")
      .feedback__user-name-wrapper
        h4(class="feedback__user-name")= options.userName
        span(class="feedback__date-comment js-feedback__date-comment")= options.date
        
    .feedback__mark
      include ../like-button/like-button
      +like-button({count : options.like})
      p(class="feedback__comment")= options.comment   