mixin rate-button(options)
  - let count = 0

  ul(class="rating js-rating")
    while count < 5
      li(class="rating__item js-rating__item" data-rating = ++count)
        button(class="rating__star js-rating__star material-icons" type="button") star_border