.rating {
  display: flex;
  list-style: none;

  &__star {
    cursor: pointer;
    color: transparent;
    background: linear-gradient(180deg, $cosmos-color 0%, $cosmos-gradient-color 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}