mixin rate-button(options)
  - let count = 0

  ul(class="rating")
    while count < 5
      li(class="rating__item" data-rating = count++)
        span(class="rating__star material-icons") star_border