@import '../../scss/mixin.scss';

.rating {
  display: flex;
  max-width: max-content;
  list-style: none;

  &__star {
    cursor: pointer;
    @include gradient-text($cosmos-color, 0%, $cosmos-gradient-color, 100%, 180deg);
  }
}