.toggle {
  display: flex;
  align-items: center;

  &__input {
    appearance: none;
    
    &:checked + .toggle__checkbox:before {
      @include element-gradient($cosmos-color, $cosmos-gradient-color);
      left: 23px;
    }

    &:checked + .toggle__checkbox {
      border-color: $cosmos-color;
    }

    &:focus {
      outline: none;

      & + .toggle__checkbox{
        @include button-shadow($primary-main);
      }
    }
  }

  &__checkbox {
    cursor: pointer;
    width: 40px;
    height: 20px;
    border: solid 1px $primary-light;
    border-radius: 10px;
    margin-right: 10px;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 12px;
      height: 12px;
      top: 50%;
      left: 3px;
      transform: translateY(-50%);
      border-radius: 50%;
      background: $primary-light;
      transition: left .2s;
    }
  }

  &__text {
    @include h4-header;
  }
}