.dropdown {
  border: 1px solid $primary-light;
  display: flex;
  overflow: hidden;
  flex-flow: column wrap;
  justify-content: center;
  transition: .2s;
  border-radius: 6px;
  background-color: $light-color;
  min-height: 44px;

  &:hover {
    border-color: $primary-main;
    
    .dropdown__button {
      color: $primary-dark;
    }
    .dropdown__body {
      border-top-color: $primary-main;
    }
  }

  &__wrapper {
    max-width: 320px;

    &_medium-width {
      max-width: 266px;
    }

    &_small-width {
      max-width: 150px;

      .dropdown__button {
        padding-left: 0;
      }
    }
  }

  &__name {
    @include h3-header;
    padding-bottom: 4px;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 42px;

    &_input-date {

      .input-text-field {
        min-width: 116px;

        &__input {
          border: none;
        }
      }

      &:hover .input-text-field__input {
        color: $primary-dark;
      }
    }
  }

  &__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    color: $primary-main;
    flex-basis: 40px;
    height: 100%;
    font-size: $h1-text-size;
    transition: text-shadow .2s ease-in-out,
    color .2s ease-in-out;

    &:focus {
      outline: none;
      @include text-shadow(currentColor);
    }
  }

  &__header {
    color: $primary-dark;
    font-size: $body-text-size;
    font-family: $main-font;
    padding-left: 15px;
    letter-spacing: 1px;
  }

  &__body {
    display: flex;
    flex-flow: inherit;
    border-top: 1px solid $primary-light;

    &_hidden {
      display: none;
    }

    &_input-date {
      border-top: none;
      padding: 0;
      position: relative;
    }

    & .datepicker {
      position: absolute;
      top: 5px;
      left: 0;
    }
  }

  &__buttons-wrapper {
    display: flex;
    width: 100%;
    margin-top: 6px;
    justify-content: space-between;

    &_visible {
      display: flex;
    }

    & .button-link  {
      padding-left: 14px;
    }
  }
}
// стили для dropdown-item
.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 6px 6px 6px 15px;

  & + & {
    padding-top: 2px;
  }

  &__text {
    @include h3-header();
    align-self: center;
    letter-spacing: 1px;
  }

  &__btn {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid $primary-light;
    color: $primary-main;
    font-size: $body-text-size;
    outline: none;
    transition: border-color .2s ease-in-out;

    &:hover, &:focus {
      border-color: $primary-main;
    }

    &:disabled {
      border: none;
      color: $primary-light;
    }
  }

  &__count {
    @include h3-header();
    width: 30px;
    display: inline-block;
    padding: 0 10px;
  }
}