.dropdown {
  max-width: 320px;

  &_medium-width {
    max-width: 266px;
  }

  &_small-width {
    max-width: 150px;

    .dropdown__button {
      padding-left: 0;
    }
  }

  &__wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    border-radius: 6px;
    background-color: $light-color;
    min-height: 44px;
    position: relative;

    &:hover, &:focus-within {

      .dropdown__head, .dropdown__body {
        border-color: $primary-main;
      }

      .dropdown__button {
        color: $primary-dark;
      }
    }
  }

  &__name {
    @include h3-header;
    margin-bottom: 4px;
  }

  &__head {
    border: 1px solid $primary-light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 42px;
    border-radius: 6px;
    transition: border-color .2s ease-in-out;

    &_opened {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &_input-date {

      .input-text-field {
        min-width: 116px;

        &__input {
          border: none;
        }
      }

      &:hover .input-text-field__input {
        color: $primary-dark;
      }
    }
  }

  &__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    color: $primary-main;
    flex-basis: 40px;
    height: 100%;
    font-size: $h1-text-size;
    transition: text-shadow .2s ease-in-out,
    color .2s ease-in-out;

    &:focus {
      outline: none;
      @include text-shadow(currentColor);
    }
  }

  &__header {
    @include body-text();
    padding-left: 15px;
    letter-spacing: 1px;
  }

  &__body {
    background-color: $light-color;
    width: 100%;
    position: absolute;
    top: 42px;
    left: 0;
    z-index: 990;
    display: flex;
    flex-flow: inherit;
    border: 1px solid $primary-light;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: border-color .2s ease-in-out;

    &_hidden {
      display: none;
    }

    &_input-date {
      border-top: none;
      padding: 0;
      position: relative;
    }

    & .datepicker {
      position: absolute;
      top: 5px;
      left: 0;
    }
  }

  &__buttons-wrapper {
    display: flex;
    width: 100%;
    margin-top: 6px;
    justify-content: space-between;

    &_visible {
      display: flex;
    }

    & .button-link  {
      padding-left: 14px;
    }
  }
}
// стили для dropdown-item
.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 6px 6px 6px 15px;

  & + & {
    padding-top: 2px;
  }

  &__text {
    @include h3-header();
    align-self: center;
    letter-spacing: 1px;
  }

  &__btn {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid $primary-light;
    color: $primary-main;
    font-size: $body-text-size;
    outline: none;
    transition: border-color .2s ease-in-out;
    background-color: transparent;

    &:hover, &:focus {
      border-color: $primary-main;
    }

    &:disabled {
      border: none;
      color: $primary-light;
    }
  }

  &__count {
    @include h3-header();
    width: 30px;
    display: inline-block;
    padding: 0 10px;
  }
}