.footer {
  width: 100%;
  background-color: $light-color;
  @include  kolonticul-shadow;
  padding-top: 5.275rem;

  @media (max-width: 764px) {
    padding: 100px 0;
  }

  &__frame-container {
    @include frame-container();
    display: flex;
    flex-flow: row wrap;

    @media (max-width: 764px) {
      justify-content: center;
      padding: 0px 60px;
    }
  }  

  &__main-info {
    align-self: start;
    flex: 0 1 260px;

    @media (max-width:764px) {
      flex: 0 1 auto;
      text-align: center;
    }
  }

  &__main-text {
    margin-top: 1rem;
    @include body-text();

    @media (max-width: 500px) {
      display: none;
    }
  }

  &__main-info-container {
    padding: 1rem 0 6.8rem;

    @media (max-width: 764px) {
      padding-bottom: 0;
    }
  }

  &__menu-list-container {
    flex: 0 1 50%;
    justify-content: space-around;
    display: flex;

    .menu-list {

      & + .menu-list {
        margin-left: 12px;
      }
    }

    @media (max-width: 764px) {
      display: none;
    }
  }

  &__secondary-info-container {
    border-top: 1px solid $primary-light;
    padding: 14px 0;

    @media (max-width: 764px) {
      border: none;
    }
  }

  &__subscribe-container {
    max-width: 260px;

    .input-text-field {
      min-width: 100%;
    }

    @media (max-width: 764px) {
      margin-top: 3rem;
      text-align: center;
    }

    @media (max-width: 500px) {
      display: none;
    }
  }

  &__subscribe-header {
    @include h3-header;
  }

  &__subscribe-text {
    @include body-text();
    margin: 20px 0;
  }

  &__copyright-span {
    @include body-text();

    @media (max-width: 764px) and (min-width: 500px) {
      display: none;
    }

    @media (max-width: 500px) {
      text-align: center;
    }
  }  
}

.social-sites {
  list-style: none;
  display: flex;

  &__item + &__item {
    margin-left: 20px;
  }

  &__img {
    font-size: $h1-text-size;
    @include gradient-text($cosmos-color, 0%, $cosmos-gradient-color, 100%, 180deg);    
  }

  &__link {
    transition: text-shadow .2s ease-in-out;

    &:focus {
      outline: none;
      @include text-shadow($primary-light);
    }
  }

  @media (max-width: 500px) {
    margin-top: 20px;
  }
}