mixin footer(options)
  if(!options)
    - options = {}
  if(!options.items)
    - options.items = []

  if(!options.socialSites)
    - options.socialSites = []

  -
    let logoSrc = "logotype source"
    let mainText = "main footer text"

  footer(class="footer")
    include ../input-text-field/input-text-field
    include ../menu-list/menu-list
    include ../logotype/logotype

    div(class="footer__main-info-container")
      div(class="footer__frame-container")
        div(class="footer__main-info")
          +logotype()
          p(class="footer__main-text")= options.mainText

        div(class="footer__menu-list-container")

          +menu-list({
            header: "навигация",
            items: [
              { linkText: "О нас", linkHref: "/mock-address/change-me"},
              { linkText: "Новости", linkHref: "/mock-address/change-me"},
              { linkText: "Служба поддержки", linkHref: "/mock-address/change-me"},
              { linkText: "Услуги", linkHref: "/mock-address/change-me"},
            ]
          })
          +menu-list({
            header: "о нас",
            items: [
              { linkText: "О сервисе", linkHref: "/mock-address/change-me"},
              { linkText: "Наша команда", linkHref: "/mock-address/change-me"},
              { linkText: "Вакансии", linkHref: "/mock-address/change-me"},
              { linkText: "Инвесторы", linkHref: "/mock-address/change-me"},
            ]
          })
          +menu-list({
            header: "Служба поддержки",
            items: [
              { linkText: "Соглашения", linkHref: "/mock-address/change-me"},
              { linkText: "Сообщества", linkHref: "/mock-address/change-me"},
              { linkText: "Связь с нами", linkHref: "/mock-address/change-me"},
            ]
          })

        section(class="footer__subscribe-container")
          h2(class="footer__subscribe-header") подписка
          p(class="footer__subscribe-text") Получайте специальные предложения и новости сервиса
          form(class="footer__subscribe-form" id="subscribe-form" method="POST")
            +input-text-field({
              placeholder: "Email",
              mode: "subscribe",
              name: "subscribe-input",
              form: "subscribe-form",
              type: "email",
            })

    div(class="footer__secondary-info-container")
      div(class="footer__frame-container")
        span(class="footer__copyright-span") Copyright &#169; 2018 Toxin отель. Все права защищены.
        ul(class="footer__social-sites social-sites")
          for link in options.socialSites
            li(class="social-sites__item")
              a(class="social-sites__link" href=link.linkHref)
                span(class=`fab fa-${link.socialSite} social-sites__img`)