mixin button-UI(options)
  -
    let text = "text"
    let mode = "modifier"

  button(type="button" class="button-UI" class=options.mode)= options.text

- let btnUiTransperent = "button-UI_transparent"
- let btnUiLong = "button-UI_long"