@import '../../../scss/mixin.scss';

.button-UI {
  // стили для текста
  font-family: $main-font;
  font-weight: bold;
  font-size: $h3-text-size;
  text-transform: uppercase;
  color: #fff;
  // настройка для отображения кнопки
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
  @include element-gradient($cosmos-color, $cosmos-gradient-color);
  height: 43px;
  align-self: center;
  padding: 12px 18px;
  border-radius: 22px;
  
    &:hover {
      @include element-gradient($cosmos-color-transparent,$cosmos-gradient-color-transparent);
    }

  // модификатор's дефолтной кнопки
  &_transparent {
    color: $cosmos-color;
    border: 2px solid transparent;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    @include border-gradient($cosmos-color, $cosmos-gradient-color);
    height: 43px;    

    &:hover {
      @include border-gradient($cosmos-color-transparent, $cosmos-gradient-color-transparent);
    }
  }

  &_long {
    letter-spacing: 1px;
    min-width: 300px;
    position: relative;

    &:after {
      font-family: 'Material Icons';
      content: '\e5c8';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-50%, -50%);
      font-size: $h1-text-size;
    }
  }
}

// Далее эксперименты с интерактивностью кнопок

// a:hover {
//   opacity: .7;
// }

// a:focus, input:focus {
//   outline: 4px solid currentColor;
//   outline-offset: 2px;
// }

// button:focus {
   // box-shadow: 5px 5px 10px rgba(0, 0, 0, .35%);
   // box-shadow: 0 0 0 5px rgba(0, 0, 0, .35%);
// }

// ::-moz-focus-inner {
  // border: 0;
// }