@import '../../scss/mixin.scss';
.button-UI {
  @include button-text(#fff);
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
  @include element-gradient($cosmos-color, $cosmos-gradient-color);
  height: 43px;
  align-self: center;
  padding: 12px 18px;
  border-radius: 22px;
  transition: box-shadow .2s ease-in-out;
  text-decoration: none;
  
  &:hover {
    @include element-gradient($cosmos-color-transparent, $cosmos-gradient-color-transparent);
  }

  &:focus {
    @include button-shadow($cosmos-color);
  }

  &_transparent {
    color: $cosmos-color;
    padding: 12px 16px;
    @include border-gradient-size(2px);
    @include border-gradient($cosmos-color, 0%, $cosmos-gradient-color, 100%, 180deg); 

    &:hover {
      @include border-gradient($cosmos-color-transparent, 0%, $cosmos-gradient-color-transparent, 100%, 180deg);
    }
  }

  &_long {
    letter-spacing: 1px;
    min-width: 320px;
    position: relative;

    &:after {
      font-family: 'Material Icons';
      content: '\e5c8';
      position: absolute;
      top: 50%;
      right: -4px;
      transform: translate(-50%, -50%);
      font-size: $h1-text-size;
    }
  }
}