mixin button-UI(options)
  if(!options)
    - options = {}

  if(!options.text)
    - options.text = "click me"

  if(!options.type)
    - options.type = "button"
  
  -
    let text = "text"
    let mode = "modifier"
    let type = "button type"

  button(type=options.type class="button-UI" class=options.mode)= options.text

- let transparent = "button-UI_transparent"
- let long = "button-UI_long"