// Обёртка для элементов страницы colors-ant-type
.content-wrapper {
  margin-top: 145px;
  padding: 0 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.wrapper-block-color {
  margin-left: 100px;

  &__item + &__item {
    margin-top: 20px;
  }
}
.wrapper-block-type {
  flex-basis: 430px;
  margin-left: 100px;

  &__item + &__item {
    margin-top: 50px;
  }
}