.range-slider {
  max-width: 266px;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__name {
    @include h3-header();
  }

  &__span {
    @include light-text();
    font-size: $h3-text-size;
    letter-spacing: normal;

    &_value {
      position: relative;
      margin-right: 10px;

      &:after {
        content: '₽';
        position: absolute;
        right: -10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__body {
    position: relative;
  }

  &__description {
    margin-top: 5px;
    text-align: center;
    @include light-text();
    font-size: $h3-text-size;
    letter-spacing: .5px;
  }

  // Здесь начинаются изменения для стилей jquery плагина
  &__container {
    margin-top: -20px;
  }
}

.irs--flat .irs-line {
  width: 100%;
  appearance: none;
  background-color: #fff;
  border: 1px solid $primary-light;
  height: 6px;
  border-radius: 4px;
}

.irs--flat .irs-bar {
  height: 6px;
  border: none;
  background: linear-gradient($success-color, $cosmos-gradient-color-transparent);
}

.irs--flat .irs-handle{
  width: 0;
  top: 20px;
}

.irs--flat .irs-handle > i:first-child {
  background: linear-gradient($success-color, $cosmos-gradient-color-transparent);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;

  &:hover, &:focus {
    background: linear-gradient($success-color, $cosmos-gradient-color-transparent);
  }
}