.rich-checkbox-button {
  display: flex;
  flex-flow: column wrap;

  &__header {
    text-transform: uppercase;
    font-family: $main-font;
    color: $primary-darker;
    font-size: $h3-text-size;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 16px;
  }

  &__items-wrapper {

  }
}

.rich-checkbox-item {
  display: flex;
  flex-flow: row wrap;
  

  &__input {
    appearance: none;

    &:checked {
      + .rich-checkbox-item__checkbox::before {
        opacity: 1;
      }

      + .rich-checkbox-item__checkbox {
        border-color: $cosmos-color;
      }
    }
  }

  &__checkbox {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: solid 1px $primary-light;
    border-radius: 4px;
    position: relative;
    margin-right: 10px;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      font-family: 'Material Icons';
      content: '\e5ca';
      font-size: 14px;
      color: transparent;         
      background: linear-gradient(180deg, $cosmos-color 0%, $cosmos-gradient-color 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }

  &__text-wrapper {
    max-width: 250px;
  }

  &__header {
    font-family: $main-font;
    font-size: $body-text-size;
    color: $primary-dark;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 2px;
    margin-bottom: 4px;
  }

  &__text {
    font-family: $main-font;
    font-size: $h3-text-size;
    color: $primary-main;
    line-height: $h3-line-height;
    letter-spacing: 1px;
    flex: 1 1 100%;
    // придумать как выровнять текст по левому краю
    // padding-left: 30px;
  }

  & + & {
    margin-top: 4px;
  }
}