mixin rich-checkbox-button(options)
  if(!options)
    - options = {}
  if(!options.items)
    - options.items = []
  -
      let text = "rich-checkbox-text"
      let header = "block-header"

  .rich-checkbox-button
    include ../checkbox-button/checkbox-button
    if(options.header)
      h3(class="rich-checkbox-button__header")= options.header
    for item in options.items

      +checkbox-button({
        mode: true,
        header: item.header,
        text: item.text,
        form: item.form,
        name: item.name,
        value: item.value,
      })