.rich-checkbox-button {
  display: flex;
  flex-flow: column wrap;
  max-width: 270px;

  &__header {
    @include h3-header;
    margin-bottom: 16px;
  }

  .checkbox-button + .checkbox-button {
    margin-top: 8px;
    padding-top: 0px;
  }
}