.checkbox-button {
  display: flex;
  align-items: center;
  max-width: 320px;

  &__input {
    appearance: none;

    &:checked {

      & + .checkbox-button__checkbox {
        border-color: $cosmos-color;

        .checkbox-button__tick {
          opacity: 1;
        }
      }
    }

    &:focus {
      outline: none;

      & + .checkbox-button__checkbox {
        @include button-shadow($cosmos-color);
      }
    }
  }

  &__checkbox {
    cursor: pointer;
    border: solid 1px $primary-light;
    border-radius: 4px;
    position: relative;
    margin-right: 10px;
    padding: 9px;
    align-self: flex-start;
    transition: border-color .2s ease-in-out;
  }

  &__tick {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }

  &__header {
    @include h4-header;
    padding-top: 2px;
    margin-bottom: 4px;
  }

  &__text {
    @include light-text;
    letter-spacing: 1px;

    &_smaller {
      font-size: $h3-text-size;
      line-height: $h3-line-height;
    }
  }
}