mixin pagination()

  div(class="pagination")
    ul(class="pagination__button-list")
      li(class="pagination__item")
        button(class="pagination__btn pagination__btn_current") 1
      li(class="pagination__item")
        button(class="pagination__btn") 2
      li(class="pagination__item")
        button(class="pagination__btn") 3
      li(class="pagination__item")
        button(class="pagination__btn" type="button" disabled) ...
      li(class="pagination__item")
        button(class="pagination__btn") 15
      li(class="pagination__item")
        button(class="pagination__btn pagination__btn_next material-icons" type="button") arrow_forward

    p(class="pagination__description") 1 – 12 из 100+ вариантов аренды