extends ../../layout/page-layout
block head
block content
  .wrapper
    .content-wrapper
      include ../../blocks/color-reference/color-reference
      include ../../blocks/type-reference/type-reference
      .wrapper-block-color
        +color('dark shade 100%', '#1f2041', '')
        +color('dark shade 75%', '#1f2041', '_primary-dark-color')
        +color('dark shade 50%', '#1f2041', '_primary-main-color')
        +color('dark shade 25%', '#1f2041', '_primary-light-color')
        +color('dark shade 5%', '#1f2041', '_primary-lighten-color')
        +color('purple', '#bc9cff' , '_cosmos-color')
        +color('green', '#6fcf97', '_success')
      .wrapper-block-type
        +type-reference('h1', 'this one is the sub-section or widget title')
        +type-reference('h2', 'this one is the sub-section or widget title')
        +type-reference('h3', 'this one is the sub-section or widget title')
        +type-reference('body', 'this one is the sub-section or widget title')