.button-link {
  @include button-text($cosmos-color);
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: text-shadow .2s ease-in-out;
  align-self: center;

  &_gray {
    color: $primary-main;
  }

  &:focus {
    outline: auto;
    text-shadow: 2px 2px 2px transparent, 
    4px 4px 4px currentColor;
  }

  &:disabled {
    visibility: hidden;
  }
}