.button-link {
  @include button-text($cosmos-color);
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: text-shadow .2s ease-in-out;
  align-self: center;

  &_gray {
    color: $primary-main;
  }

  &:focus {
    outline: auto;
    @include text-shadow(currentColor);
  }

  &:disabled {
    visibility: hidden;
  }
}