.button-link {
  font-family: $main-font;
  font-size: $h3-text-size;
  font-weight: bold;
  text-transform: uppercase;
  color: $cosmos-color;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;

  &_gray {
    color: $primary-main;
  }

  &:focus {
    outline: 1px solid currentColor;
  }
  &:disabled {
    visibility: hidden;
  }
}