mixin button-link(options)
  if(!options)
    - options = {}

  if(!options.text)
    - options.text = "click me"

  if(!options.type)
    - options.type = "button"
  -
    let text = "text"
    let mode = "modifier"
    let disabled = ""

  button(type="button" class="button-link" class=options.mode disabled=options.disabled)= options.text

- let linkGray = "button-link_gray"