.input-text-field {
  display: flex;
  flex-flow: column;
  min-width: 266px;
  max-width: 320px;

  &__subscribe-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    overflow: hidden;
    max-width: 266px;
    height: 44px;
    border: 1px solid $primary-light;
    border-radius: 6px;
    transition: border-color .2s ease-in-out;
    outline: none;

    &:hover, &:focus-within {
      border-color: $primary-main;
    }

    &:hover .input-text-field__input {
      color: $primary-dark;
    }
  }

  &__header {
    @include h3-header();
    padding-bottom: 4px;
  }

  &__input {
    @include light-text();
    color: $primary-light;
    letter-spacing: normal;
    padding-left: 14px;
    border-radius: 6px;
    width: 100%;
    height: 44px;
    border: 1px solid $primary-light;
    transition-timing-function: ease-in-out;
    transition-property: color, border-color;
    transition-duration: .2s;
    outline: none;

    &:hover, &:focus {
      color: $primary-dark;
      border-color: $primary-main;
    }

    // расходится цвет текста по макету при фокусе (не работает с прозрачностью)
    &_masked {
      letter-spacing: 1.4px;
    }

    &_subscribe {
      border: none;
      border-radius: 0px;
    }   
  }

  &__button {
    position: relative;
    background-color: transparent;
    outline: none;
    width: 44px;
    height: 44px;
    cursor: pointer;
    border: none;
    transition: text-shadow .2s ease-in-out;

    &:after {
      font-family: 'Material Icons';
      content: "\e5c8";
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: $h1-text-size;
      transform: translate(-50%, -50%);
      @include gradient-text($cosmos-color, 0%, $cosmos-gradient-color, 100%, 180deg);
    }

    &:focus {
      @include text-shadow($cosmos-color);
    }
  }
}