mixin bullet-list(options)
  if(!options)
    - options = {}
  if(!options.items)
    - options.items = [{text : 'Item 1'}, {text : 'Item 2'}, {text : 'Item 3'}]
  -
    let header = "bullet-list header"
    
  .bullet-list
    if(options.header !== undefined)
      h3(class="bullet-list__header")= options.header

    ul(class="bullet-list__items-wrapper")
      for item in options.items
        li(class="bullet-list__item")= item.text