.bullet-list {
  max-width: 300px;
  padding: 0 10px;

  &__header {
  @include h3-header();
  margin-bottom: 14px;
  }

  &__items-wrapper {
    list-style: none;
    padding-left: 22px;
  }


  &__item {
    font-family: $main-font;
    font-size: $body-text-size;
    color: $primary-dark;
    line-height: $body-line-height;
    letter-spacing: 1px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: -22px;
      top: 6px;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: $primary-light;
    }
  }

  &__item + &__item {
    margin-top: 10px;
  }
}