.bullet-list {
  max-width: 320px;
  height: max-content;

  &_none-dots {

    & .bullet-list__item {

      &::before {
        width: 0;
      }
    }

    .bullet-list__header, .bullet-list__items-wrapper {
      padding-left: 0;
    }
  }

  &__header {
    @include h2-header();
    padding-left: 20px;
    margin-bottom: 18px;
  }

  &__items-wrapper {
    list-style: none;
    padding-left: 22px;
  }

  &__item {
    @include h4-header();
    line-height: $body-line-height;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: -22px;
      top: 6px;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: $primary-light;
    }
  }

  &__item + &__item {
    margin-top: 10px;
  }
}