extends ../../layout/page-layout

block variables
  - let title = "Cards";
  - let description = "";
  - let keywords = "";

block head

block content
  main(class="content-wrapper content-cards-wrapper")
    div(class="frame-column")
      include ../../blocks/search-room-form/search-room-form
      include ../../blocks/registration-form/registration-form
      +search-room-form({
        header: "Найдём номера под ваши пожелания"
      })
      +registration-form({
        header: "Регистрация аккаунта",
        question: "Уже есть аккаунт на Toxin"
      })
    div(class="frame-column")
      include ../../blocks/price-calculator-form/price-calculator-form
      include ../../blocks/sign-in-form/sign-in-form

      +price-calculator-form({
        items: [
          { service: "Сбор услуги: скидка 2 179₽", price: "0" },
          { service: "Сбор за допольнительные услуги", price: "300"}
        ]
      })

      +sign-in-form({
        header: "Войти",
        question: "Нет аккаунта на Toxin?"
      })
    div(class="frame-column")