.icon-text-list {
  display: flex;
  max-width: 280px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-bottom: 1px solid $primary-lighten;

  &__icon {
    font-size: 48px;
    @include gradient-text($cosmos-color, 0%, $cosmos-gradient-color, 100%, 180deg);
  }

  &__text-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    padding-left: 10px;
  }

  &__header {
    @include h4-header;
  }

  &__description {
    @include h4-header;
    font-weight: normal;
  }

  & + & {
    margin-top: 20px;
  }
}