mixin icon-text-list(options)
  if(!options)
    - options = {}
  if(!options.items)
    - options.items = []

  -
    let header = "header of block"

  .icon-text-list
    if(options.header)
      h2(class="icon-text-list__header")= options.header
    for item in options.items
      .icon-text-list__item
        span(class="material-icons icon-text-list__icon")= item.icon
        .icon-text-list__text-wrapper
          if(item.header)
            h4(class="icon-text-list__item-header")= item.header
          span(class="icon-text-list__description")= item.description