.icon-text-list {
  display: flex;

  &__icon {
    font-size: 48px;
    color: transparent;
    background: linear-gradient(180deg, $cosmos-color 0%, $cosmos-gradient-color 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__text-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    padding-left: 10px;
  }

  &__header {
    color: $primary-dark;
    font-family: $main-font;
    font-size: $body-text-size;
  }

  &__description {
    color: $primary-dark;
    font-family: $main-font;
    font-size: $body-text-size;
    letter-spacing: 1px;
  }
}