.color-palitra {
  display: flex;
  
  &__reference-color {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    background: $primary-darker;
    // модификаторы палитры
    &_primary-dark-color {
      background-color: $primary-dark;
    }

    &_primary-main-color {
      background-color: $primary-main;
    }

    &_primary-light-color {
      background-color: $primary-light;
    }

    &_primary-lighten-color {
      background-color: $primary-lighten;
    }

    &_cosmos-color {
      background-color: $cosmos-color;
    }

    &_success-color {
      background: $success-color;
    }
  }

  &__description-color {
    margin-left: 40px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }

  &__name {
    text-transform: capitalize;
    @include h2-header();
    line-height: $h1-line-height;
  }
  
  &__hex {
    text-transform: uppercase;
    @include h2-header();
    font-weight: normal;
  }
}