mixin registration-form(options)
  if(!options)
    - options = {}
  -
    let header = "header form"
    let formId = "registration-form"
    let href = "reference to an another page"

  div(class="registration-form")
    include ../../blocks/input-text-field/input-text-field
    include ../../blocks/radio-button/radio-button
    include ../../blocks/toggle/toggle
    include ../../blocks/button-UI/button-UI

    h2(class="registration-form__header")=options.header
    form(class="registration-form__form" id=options.formId method="POST")

      +input-text-field({
        placeholder: "Имя",
        name: "userName",
        form: options.formId
      })

      +input-text-field({
        placeholder: "Фамилия",
        name: "userSurname",
        form: options.formId,
      })

      +radio-button({
        text: "Мужчина",
        name: "sex",
        value: "man",
        form: options.formId
      })

      +radio-button({
        text: "Женщина",
        name: "sex",
        value: "woman",
        form: options.formId
      })

      +input-text-field({
        header: "дата рождения",
        mode: "masked",
        placeholder: "ДД.ММ.ГГГГ",
        name: "birthday",
        form: options.formId
      })

      div(class="registration-form__input-container")

        +input-text-field({
          header: "данные для входа в сервис",
          placeholder: "Email",
          name: "email",
          type: "email",
          form: options.formId,
        })

        +input-text-field({
          placeholder: "Пароль",
          name: "password",
          type: "password",
          form: options.formId,
        })

      +toggle({
        text: "Получать спецпредложения",
        name: "specialOffer",
        form: options.formId,
      })

      +button-UI({
        mode: long,
        text: "перейти к оплате",
        type:"submit",
        form: options.formId,
      })

    div(class="registration-form__footer")
      span(class="registration-form__span") Уже есть аккаунт на Toxin
      +button-UI({
        mode: transparent,
        link: true,
        href: options.href,
        text: "войти"
      })