.sign-in-form {
  @include card-block;

  &__header {
    @include h1-header;
    margin-bottom: 1.4rem;
  }

  &__form {

    .input-text-field + .input-text-field {
      margin-top: 10px;
    }

    .button-UI {
      margin-top: 20px;
    }
  }

  &__span {
    @include light-text();
    color: #000;
  }

  &__footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button-UI {
      padding: 12px 20px;
    }
  }
}