mixin pie-chart(options)

  -
    let defaultItems = [
          { mode: great, text: "Великолепно" },
          { mode: good, text: "Хорошо" },
          { mode: satisfied, text: "Удовлетворительно" },
          { mode: bad, text: "Разочарован" },
      ]

    let voteResult = options.voteResult || '0 голосов'

  if(!options)
    - options = {}
  if(!options.items)
    - options.items = defaultItems

  section(.pie-chart)
    h2(class="pie-chart__header") Впечатления от номера
    div(class="pie-chart__body")
      div(class="pie-chart__diagram-wrapper")
        span(class="pie-chart__text-result")= voteResult
        canvas(class="pie-chart__diagram" width="140" height="140")

      ul(class="pie-chart__feedback-wrapper")
        for item in options.items
          li(class="pie-chart__feedback" class=item.mode)= item.text
- let great = "pie-chart__feedback_great"
- let good  = "pie-chart__feedback_good"
- let satisfied = "pie-chart__feedback_satisfied"
- let bad = "pie-chart__feedback_bad"