// color vars
$great-linear-gradient: linear-gradient(hsla(43, 100%, 81%, 1), hsla(18, 100%, 81%, 1));
$good-linear-gradient: linear-gradient(hsla(145, 50%, 62%, 1), hsla(191, 76%, 66%, 1));
$satisfied-linear-gradient: linear-gradient(hsla(259, 100%, 81%, 1), hsla(227, 91%, 76%, 1));
$bad-linear-gradient: linear-gradient(hsla(0, 0%, 57%, 1), hsla(227, 31%, 35%, 1));

.pie-chart {
  max-width: 320px;

  &__header {
    padding-left: 10px;
    @include h2-header();
    margin-bottom: 16px;
  }

  &__body {
    display: flex;
  }

  &__diagram-wrapper {
    max-width: 140px;
    position: relative;
  }

  &__text-result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    text-align: center;
    @include h3-header();
    letter-spacing: 1px;
    color: $cosmos-color;

    &::first-line{
      font-size: $h1-text-size;
      line-height: $h2-line-height;
    }
  }

  &__feedback-wrapper {
    list-style: none;
    margin-left: 35px;
    align-self: flex-end;
    margin-bottom: 14px;
  }

  &__feedback {
    letter-spacing: 1px;
    @include body-text();
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -15px;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      transform: translateY(-50%);
      background-color: $success-color;
    }
    // модификаторы bullet-point у отзыва
    &_great {
      &::before {
        background: $great-linear-gradient;
      }
    }

    &_good {
      &::before {
        background: $good-linear-gradient;
      }
    }

    &_satisfied {
      &::before {
        background: $satisfied-linear-gradient;
      }
    }

    &_bad {
      &::before {
        background: $bad-linear-gradient;
      }
    }
  }
}